
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');
:root{ --hover-link-color: #891180;}

body {
  
    width: 100%;

    display: block;
    margin: 0 auto;
    
    background: linear-gradient(123.5deg, rgb(244, 219, 251) 29.3%, rgb(255, 214, 214) 67.1%);

}  
.proyo {

    margin: 0 auto;
    padding: 60px;
    font-family: "Atma", serif;
    width: 800px;
    background-color: #f9c5cb ;
 
  }
  h1 {
    text-align: left;
    color: #c54c82;
    font-family: "Atma", serif;
  font-weight: 900;
  font-style: normal;
padding-left: 75px;
  }
  h2 {
    text-align: left;
    padding-left: 90px;
    font-family: "Atma", serif;
  font-weight: 700;
  font-style: normal;
    border-radius: 4px;
    color: #c54c82;
 
  }
  img {
    display: block;
    margin: 0 auto;
    width:500px;
    border-radius: 6px;
  }
  p {
    line-height: 2.5;
        font-family: "Atma", serif;
        font-weight: 500;
        font-style: normal;
      
    text-align: center;
    color: #c54c82;

  }
  p a {text-decoration: none;
  color: #c54c82;}

  p a:hover{color: var(--hover-link-color);}
  .buyher {
    display: block;
    margin-top: 10px;
    text-decoration: none;
  }
  .buyher:hover {
    text-decoration: none;
  }
  button {
    display: block;
    margin: 0 auto;
    background: #c54c82;
    color: #fdfdcb;
    font-size: 18px;
    padding: 20px 30px;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out;
  }
  a.wiki {
    text-align: center;
  }
  button:hover {
    opacity: 70%;
    cursor: pointer;
  }
.learn {text-align: center;
color: #c54c82;}
.learn:hover{ text-decoration: none;
  color: var(--hover-link-color);}

  @media (max-width:576px) {
    h1{text-align: center;
      padding: 0 0 15px 0;
    font-size: 48px;}
    h2{font-size: 30px;
    
  margin: 0;
padding: 0;}
  img{width:100%}
  body{max-width: fit-content;
  height: auto;}
    .proyo{max-width: fit-content;
      height: auto; }
  }